.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(.2rem);
  color: white;
}

.hidden {
  display: none;
}

.add-task-container {
  background-color: #8E94F2;
  width: 30%;
  height: 90%;
  padding: 1rem;
  overflow-y: auto;
}

.add-task-header {
  margin-bottom: 1rem;
  background-color: rgba(255,255,255,0.3);
  padding: 1rem;
  border-radius: 1rem;
  
  display: flex;
  justify-content: space-between;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

input, textarea {
  background-color: rgba(255,255,255,0.15);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100%;
  
}

textarea {
  resize: vertical;
}

.submit-task-btn {
  padding: 1rem;
  margin-top: 2rem;
  background-color: rgba(255,255,255,0.3);
}